/*******************************|variables|*************/
$color-gray-light:rgb(238,242,238);
$color-gray-light-2:rgb(245, 245, 245);

$color-gray:rgb(217, 211, 211);
$color-gray-dark:rgb(150, 150, 150);
$color-white:rgb(255,255,255);
$color-font-gray: rgb(84, 92, 100);
$color-border-gray-light:rgb(222, 226, 230);
$color-font-gray-light:rgb(100,109,119);
$color-black:rgb(41, 40, 40);
$color-green:rgb(103, 214, 188);

$color-purple: rgb(167, 102, 167);
$color-gray-dark-2: rgba(1,1,1,0.77);
/*******************************|tags|***********************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}
a{
  text-decoration: none;
}
body{
    background-color: $color-gray-light;

}
ul{
  list-style: none;
}
/*******************************|components|********************/
.fm-select-option{
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-family: monospace;
    

    .input-wrapper{  
        height: 38px;
        padding-left: 4px;
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        align-items: center;
        align-content: center;
        overflow: hidden;
        cursor: pointer;
        border:1px solid $color-border-gray-light;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $color-white;

        
        &.two-columns{
            grid-template-columns: 1fr 30px;
        }
        &:focus{
            outline: 1px solid $color-green;
        }
        &>i{
            margin-right: 5px;
            padding-right: 12px;
            padding-left: 8px;
            font-size: 15px;
            color: $color-green;
            border-right: 1px solid $color-border-gray-light;
        }
        .arrow-button{
            width: 100%;
            height: 100%;
            padding-right: 4px;
            padding-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-top-right-radius: 5px;

            i{
                display: inline-block;
                font-size: 15px;
                color: $color-green;
                text-align: center;
            }
        }
        input{
            height: 36px;
            padding-right: 8px;
            text-align: right;  
            outline: none;
            border: none;
            cursor: pointer;
                    text-align: left;
            
        

            &::placeholder{
                color: $color-font-gray-light;
                font-size: 14px;
                text-align: left;
            }
        }
    }
    .selected-items{
        min-height: 90px;
        padding: 8px;
        border-top: none;
        display: flex;
        gap:8px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        
        border: 1px solid $color-border-gray-light;

        li{
            padding: 2px 4px;
            display: flex;
            align-items: center;
            gap:3px;
            border-radius: 5px;
            background-color: $color-green;
            color: $color-white;
            cursor: pointer;
            
            .icon-wrapper{
                width: 16px;
                height: 16px;
                padding: 4px 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                

                i{
                    color: $color-white;
                    font-size: 10px;
                }
            }
            
        }
    }
    .items{
        height: 90px;
        overflow-y: scroll;
        border: 1px solid $color-border-gray-light;
        border-top: none;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: right;
        font-size: 20px;
   
        li{
            padding:7px 12px;
            color:$color-font-gray;
            cursor: pointer;
            text-align: left;
            font-size: 15px;
            
            &.selected-item{
                background-color: $color-border-gray-light;
            }

            &:hover{
                color: $color-white;
                background-color: $color-green;
            }
        }


        &::-webkit-scrollbar-thumb {
            width: 10px; 
            height: 12px;
            background-color: $color-font-gray; 
            border-radius: 6px; 
            border: 1px solid transparent;
            background-clip: padding-box;
        }
      

        &::-webkit-scrollbar-thumb:hover {
            background-color: $color-font-gray; 
        }
    }

}
.modal{
    width:100%;
    height:100%;
    background-color: $color-gray-dark-2;
    z-index: 5;
    position: fixed;//when we use position:fixed then width get value properiate to viewport width not parent element
    //the element is taken out of the normal document flow
    //(so it’s not positioned relative to its parent anymore).and
    //we have to position that with left & ...
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content{
        width:450px;
        height:240px;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow:2px 2px 20px 1px;
        background-color: $color-white;
        z-index: 10;
        border-radius: 10px;

        .modal-header{
            padding-bottom: 12px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $color-gray-light-2;

            button{
                background: transparent;
                border: none;
                font-size: 17px;
                color: $color-green;
                font-weight: bold;
                cursor:pointer;
            }
            span{
                color: $color-green;
            }
        }
        .modal-body{

          input{
            width: 100%;
            height: 35px;
            margin-top: 15px;
            padding: 5px 10px;
            border: 2px solid $color-gray;
            border-radius: 5px;
            cursor: pointer;
            color: $color-gray-dark;

            &:focus{
              outline: 2px solid $color-green;
              border: none;         
            }
          }
        }
        .modal-foot{

            ul{
                display:flex;
                justify-content: end;
                gap:10px;
                
                button{
                    width: 80px;
                    height: 35px;
                    border:none;
                    border-radius: 5px;
                    cursor: pointer;
                    color: $color-black;   

                    &.green-btn{
                      background-color: $color-green;
                    }
                }
            }

        }
    }
}
/*******************************|general-class|****************/
.middle{
  max-width: 1400px;
  margin:0 auto;
  padding: 0 30px;
}


/*******************************|layout|**********************/
header{
  width:100%;
  height: 60px;
  padding: 10px 0px;
  margin-bottom: 1px;
  background-color: $color-green;
  box-shadow: 0 2px 4px 0px $color-gray;

  div.middle{
    height: 100%;

    ul{
      height: 100%;
      display: flex;
      gap:15px;
      align-items: center;

      li{
        cursor: pointer;

        a{
          color: $color-black;
        }
      }
    }

  }
}
/*******************************|main|************************/
main.form-creator{
  display: grid;
  grid-template: "form palet" /1fr 400px;

  /*********************|section-form-area|******/
  section.form-area{
    padding:40px 0px;
    grid-area: form;
    display: flex;
    justify-content: center;

      .form-zone {
        width: 700px;
        min-height: 600px;
        display:inline-block;
        position: relative;
        background-color: $color-white;
        box-shadow: 0 0 8px $color-gray;
        border-radius: 7px;

        &>li{
                  &>input{
          &[type="text"], &[type="number"], &[type="color"]{
            width: 240px;
            height: 35px;
            padding: 5px 10px;
            margin-top: 10px;
            border: 2px solid $color-gray;
            border-radius: 5px;
            cursor: pointer;
            color: $color-gray-dark;

            &:focus{
              outline: 2px solid $color-green;
              border: none;         
            }
          }
        }
        }

      }
  }
  
  /*********************|section-palet-zone|******/
  section.palet-zone{
    height: 100vh;
    display: inline-block;
    display: flex;
    flex-direction: column;
    gap:15px;
    grid-area: palet;
    background-color: $color-white;
    box-shadow: 0 6px 4px 0px $color-gray;

    div.title{
      padding: 10px 5px;
      background-color: $color-gray-light-2;
    }
    &>ul{
      display: flex;
      flex-direction: column;

      &>li{
        width:100%;
        padding: 10px 15px;

        display: grid;
        grid-template: 
          "drag-el icon" auto
          "sub-validation sub-validation" auto / 1fr 30px;
          gap:20px;
        border-bottom: 1px solid $color-gray-light;

        .drag-el{
          width:160px;
          height: 40px;
          padding: 5px 8px;
          background-color: $color-gray-light;
          border-radius: 5px;
          cursor: pointer;
          grid-area: drag-el;
          display: flex;
          align-items: center;
          color: $color-black;
        }
        .icon{
          grid-area: icon;
          cursor: pointer;

          i{
            color: $color-black;
          }
        }
        .sub-validation{
          grid-area: sub-validation;

          &>li{
            margin-bottom: 8px;

            label{
              margin-right: 10px;
            }

            input[type="text"]{
              width: 110px;
              padding: 3px 5px;
              background-color: $color-gray-light;
              border: none;
              border-radius: 7px;
            }

            input[type="checkbox"]{
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
    button{
      width:160px;
      height: 40px;
      padding: 5px 8px;
      background-color: $color-green;
      border-radius: 5px;
      cursor: pointer;
      border:none;
      color:$color-black;
      margin-left: 15px;
    }
  }
}
main.form-list{
  margin-top: 40px;
  padding: 30px;
  background-color: $color-white;
  box-shadow: 0 0px 4px 0px $color-gray;
  border-radius: 7px;

    section.form{

      .title{
          font-size: 20px;
          color: $color-black;
          margin-bottom: 15px;
      }
      .table-container{
          padding: 25px;
          border-radius: 7px;

          table.form-table{
            width: 100%;
            border-radius: 7px;
            box-shadow: 0 0 8px 0px $color-gray;
            border-bottom: 3px solid $color-green;
            border-collapse: collapse;

            tr{
                border-bottom: 1px solid $color-gray-light;
                text-align: left;
                color: $color-font-gray;

                td{
                    text-align: left;
                    padding: 10px 30px;
                }
                td{

                    &>a{
                        width: 36px;
                        height: 36px;
                        padding: 5px;
                        margin-right: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px;
                        cursor: pointer;

                        i{
                            font-size: 20px;
                            color: $color-purple;
                        }
                    }
                }
                
            }
            thead{
              background-color: $color-green;

              tr{
                  font-size: 14px;
              
                  th{
                      padding: 13px 30px;
                      color:$color-white;
                      font-size: 17px;
                  }
              }
            }
            tbody{

                tr:nth-child(even){
                    background-color: $color-gray-light;
                }
            }

          }
      }
    }
}
main.form-view{
  /*********************|section-form-area|******/
  section.form-area{
    padding:40px 0px;
    display: flex;
    justify-content: center;

      .form-zone {
        width: 700px;
        min-height: 600px;
        display:inline-block;
        position: relative;
        background-color: $color-white;
        box-shadow: 0 0 8px $color-gray;
        border-radius: 7px;

        &>li{
                  &>input{
          &[type="text"], &[type="number"], &[type="color"]{
            width: 240px;
            height: 35px;
            padding: 5px 10px;
            margin-top: 10px;
            border: 2px solid $color-gray;
            border-radius: 5px;
            cursor: pointer;
            color: $color-gray-dark;

            &:focus{
              outline: 2px solid $color-green;
              border: none;         
            }
          }
        }
        }

      }
  }
}
