/*******************************|variables|*************/
/*******************************|tags|***********************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(238, 242, 238);
}

ul {
  list-style: none;
}

/*******************************|components|********************/
.fm-select-option {
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  font-family: monospace;
}
.fm-select-option .input-wrapper {
  height: 38px;
  padding-left: 4px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  align-items: center;
  align-content: center;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgb(222, 226, 230);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.fm-select-option .input-wrapper.two-columns {
  grid-template-columns: 1fr 30px;
}
.fm-select-option .input-wrapper:focus {
  outline: 1px solid rgb(103, 214, 188);
}
.fm-select-option .input-wrapper > i {
  margin-right: 5px;
  padding-right: 12px;
  padding-left: 8px;
  font-size: 15px;
  color: rgb(103, 214, 188);
  border-right: 1px solid rgb(222, 226, 230);
}
.fm-select-option .input-wrapper .arrow-button {
  width: 100%;
  height: 100%;
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 5px;
}
.fm-select-option .input-wrapper .arrow-button i {
  display: inline-block;
  font-size: 15px;
  color: rgb(103, 214, 188);
  text-align: center;
}
.fm-select-option .input-wrapper input {
  height: 36px;
  padding-right: 8px;
  text-align: right;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: left;
}
.fm-select-option .input-wrapper input::-moz-placeholder {
  color: rgb(100, 109, 119);
  font-size: 14px;
  text-align: left;
}
.fm-select-option .input-wrapper input::placeholder {
  color: rgb(100, 109, 119);
  font-size: 14px;
  text-align: left;
}
.fm-select-option .selected-items {
  min-height: 90px;
  padding: 8px;
  border-top: none;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px solid rgb(222, 226, 230);
}
.fm-select-option .selected-items li {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
  background-color: rgb(103, 214, 188);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.fm-select-option .selected-items li .icon-wrapper {
  width: 16px;
  height: 16px;
  padding: 4px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.fm-select-option .selected-items li .icon-wrapper i {
  color: rgb(255, 255, 255);
  font-size: 10px;
}
.fm-select-option .items {
  height: 90px;
  overflow-y: scroll;
  border: 1px solid rgb(222, 226, 230);
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: right;
  font-size: 20px;
}
.fm-select-option .items li {
  padding: 7px 12px;
  color: rgb(84, 92, 100);
  cursor: pointer;
  text-align: left;
  font-size: 15px;
}
.fm-select-option .items li.selected-item {
  background-color: rgb(222, 226, 230);
}
.fm-select-option .items li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(103, 214, 188);
}
.fm-select-option .items::-webkit-scrollbar-thumb {
  width: 10px;
  height: 12px;
  background-color: rgb(84, 92, 100);
  border-radius: 6px;
  border: 1px solid transparent;
  background-clip: padding-box;
}
.fm-select-option .items::-webkit-scrollbar-thumb:hover {
  background-color: rgb(84, 92, 100);
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.77);
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  width: 450px;
  height: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 20px 1px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  border-radius: 10px;
}
.modal .modal-content .modal-header {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.modal .modal-content .modal-header button {
  background: transparent;
  border: none;
  font-size: 17px;
  color: rgb(103, 214, 188);
  font-weight: bold;
  cursor: pointer;
}
.modal .modal-content .modal-header span {
  color: rgb(103, 214, 188);
}
.modal .modal-content .modal-body input {
  width: 100%;
  height: 35px;
  margin-top: 15px;
  padding: 5px 10px;
  border: 2px solid rgb(217, 211, 211);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(150, 150, 150);
}
.modal .modal-content .modal-body input:focus {
  outline: 2px solid rgb(103, 214, 188);
  border: none;
}
.modal .modal-content .modal-foot ul {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.modal .modal-content .modal-foot ul button {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(41, 40, 40);
}
.modal .modal-content .modal-foot ul button.green-btn {
  background-color: rgb(103, 214, 188);
}

/*******************************|general-class|****************/
.middle {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

/*******************************|layout|**********************/
header {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
  margin-bottom: 1px;
  background-color: rgb(103, 214, 188);
  box-shadow: 0 2px 4px 0px rgb(217, 211, 211);
}
header div.middle {
  height: 100%;
}
header div.middle ul {
  height: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}
header div.middle ul li {
  cursor: pointer;
}
header div.middle ul li a {
  color: rgb(41, 40, 40);
}

/*******************************|main|************************/
main.form-creator {
  display: grid;
  grid-template: "form palet"/1fr 400px;
  /*********************|section-form-area|******/
  /*********************|section-palet-zone|******/
}
main.form-creator section.form-area {
  padding: 40px 0px;
  grid-area: form;
  display: flex;
  justify-content: center;
}
main.form-creator section.form-area .form-zone {
  width: 700px;
  min-height: 600px;
  display: inline-block;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px rgb(217, 211, 211);
  border-radius: 7px;
}
main.form-creator section.form-area .form-zone > li > input[type=text], main.form-creator section.form-area .form-zone > li > input[type=number], main.form-creator section.form-area .form-zone > li > input[type=color] {
  width: 240px;
  height: 35px;
  padding: 5px 10px;
  margin-top: 10px;
  border: 2px solid rgb(217, 211, 211);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(150, 150, 150);
}
main.form-creator section.form-area .form-zone > li > input[type=text]:focus, main.form-creator section.form-area .form-zone > li > input[type=number]:focus, main.form-creator section.form-area .form-zone > li > input[type=color]:focus {
  outline: 2px solid rgb(103, 214, 188);
  border: none;
}
main.form-creator section.palet-zone {
  height: 100vh;
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-area: palet;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 4px 0px rgb(217, 211, 211);
}
main.form-creator section.palet-zone div.title {
  padding: 10px 5px;
  background-color: rgb(245, 245, 245);
}
main.form-creator section.palet-zone > ul {
  display: flex;
  flex-direction: column;
}
main.form-creator section.palet-zone > ul > li {
  width: 100%;
  padding: 10px 15px;
  display: grid;
  grid-template: "drag-el icon" auto "sub-validation sub-validation" auto/1fr 30px;
  gap: 20px;
  border-bottom: 1px solid rgb(238, 242, 238);
}
main.form-creator section.palet-zone > ul > li .drag-el {
  width: 160px;
  height: 40px;
  padding: 5px 8px;
  background-color: rgb(238, 242, 238);
  border-radius: 5px;
  cursor: pointer;
  grid-area: drag-el;
  display: flex;
  align-items: center;
  color: rgb(41, 40, 40);
}
main.form-creator section.palet-zone > ul > li .icon {
  grid-area: icon;
  cursor: pointer;
}
main.form-creator section.palet-zone > ul > li .icon i {
  color: rgb(41, 40, 40);
}
main.form-creator section.palet-zone > ul > li .sub-validation {
  grid-area: sub-validation;
}
main.form-creator section.palet-zone > ul > li .sub-validation > li {
  margin-bottom: 8px;
}
main.form-creator section.palet-zone > ul > li .sub-validation > li label {
  margin-right: 10px;
}
main.form-creator section.palet-zone > ul > li .sub-validation > li input[type=text] {
  width: 110px;
  padding: 3px 5px;
  background-color: rgb(238, 242, 238);
  border: none;
  border-radius: 7px;
}
main.form-creator section.palet-zone > ul > li .sub-validation > li input[type=checkbox] {
  width: 15px;
  height: 15px;
}
main.form-creator section.palet-zone button {
  width: 160px;
  height: 40px;
  padding: 5px 8px;
  background-color: rgb(103, 214, 188);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: rgb(41, 40, 40);
  margin-left: 15px;
}

main.form-list {
  margin-top: 40px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0px 4px 0px rgb(217, 211, 211);
  border-radius: 7px;
}
main.form-list section.form .title {
  font-size: 20px;
  color: rgb(41, 40, 40);
  margin-bottom: 15px;
}
main.form-list section.form .table-container {
  padding: 25px;
  border-radius: 7px;
}
main.form-list section.form .table-container table.form-table {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 0 8px 0px rgb(217, 211, 211);
  border-bottom: 3px solid rgb(103, 214, 188);
  border-collapse: collapse;
}
main.form-list section.form .table-container table.form-table tr {
  border-bottom: 1px solid rgb(238, 242, 238);
  text-align: left;
  color: rgb(84, 92, 100);
}
main.form-list section.form .table-container table.form-table tr td {
  text-align: left;
  padding: 10px 30px;
}
main.form-list section.form .table-container table.form-table tr td > a {
  width: 36px;
  height: 36px;
  padding: 5px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}
main.form-list section.form .table-container table.form-table tr td > a i {
  font-size: 20px;
  color: rgb(167, 102, 167);
}
main.form-list section.form .table-container table.form-table thead {
  background-color: rgb(103, 214, 188);
}
main.form-list section.form .table-container table.form-table thead tr {
  font-size: 14px;
}
main.form-list section.form .table-container table.form-table thead tr th {
  padding: 13px 30px;
  color: rgb(255, 255, 255);
  font-size: 17px;
}
main.form-list section.form .table-container table.form-table tbody tr:nth-child(even) {
  background-color: rgb(238, 242, 238);
}
main.form-list section.form .table-container table.form-table tfoot tr td {
  display: flex;
  gap: 15px;
}
main.form-list section.form .table-container table.form-table tfoot tr td button {
  border: none;
  background-color: transparent;
  color: rgb(103, 214, 188);
  cursor: pointer;
}
main.form-list section.form .table-container table.form-table tfoot tr td button i {
  font-size: 22px;
}
main.form-list section.form .table-container table.form-table tfoot tr td button:disabled {
  color: rgb(217, 211, 211);
  cursor: not-allowed;
}

main.form-view {
  /*********************|section-form-area|******/
}
main.form-view section.form-area {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
}
main.form-view section.form-area .form-zone {
  width: 700px;
  min-height: 600px;
  display: inline-block;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px rgb(217, 211, 211);
  border-radius: 7px;
}
main.form-view section.form-area .form-zone > li > input[type=text], main.form-view section.form-area .form-zone > li > input[type=number], main.form-view section.form-area .form-zone > li > input[type=color] {
  width: 240px;
  height: 35px;
  padding: 5px 10px;
  margin-top: 10px;
  border: 2px solid rgb(217, 211, 211);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(150, 150, 150);
}
main.form-view section.form-area .form-zone > li > input[type=text]:focus, main.form-view section.form-area .form-zone > li > input[type=number]:focus, main.form-view section.form-area .form-zone > li > input[type=color]:focus {
  outline: 2px solid rgb(103, 214, 188);
  border: none;
}/*# sourceMappingURL=main.css.map */